<!DOCTYPE html>
<head>
<title>Weather About Us</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<html>
<body>
	
<div class="main-content">
{{>header}}
<img class="saket" src="/img/KrishSaku.jpg"> 
<p>Saket</p>
<img class="mead" src="/img/mead.png">
<p>Mead</p>

</div>


{{>footer}}
	
</body>
</html>