<!DOCTYPE html>
<head>
<title>Weather About Us</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<html>
<body>
	
<div class="main-content">
{{>header}}
<h3>What We Do: We offer the best services and user interface!</h3>
<h3>Our Goal: To provide the best weather info.</h3>
<h3>Our Weather Staff: </h3>
<img class="saket" src="/img/Kasibhatla.jpg"> 
<p>Saket - Developer</p>

</div>


{{>footer}}
	
</body>
</html>