<!DOCTYPE html>
<head>
<title>Weather Help</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html>
<body>
<div class="main-content">
{{>header}}
<p>For more info, please send feedbacks/questions via e-mail. Thanks for using our app!</p>

</div>	
	
{{>footer}}
	
</body>
</html>